
/* Main của sản phẩm.html*/
.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 10px;
    grid-template-areas: 
    "banner banner"
    "sidebar products";
   
}
.main-content__side-bar {
    border: 2px solid;
    grid-area: sidebar;
    height: 400px;
}
.main-content__products {
    border: 2px solid;
    grid-area: products;
    height: 400px;
}
.main-content__banner {
    border: 1px solid;
    grid-area: banner;
    /* height: 100px; */
    /* width: 100%; */
}
.main-content__banner img {
    width: 100%;
}
/* END */





/* END */

