.main{
    width: 100%;
    min-height: 500px;
    margin: 20px auto;
    max-width: 1000px;    
}

.main article{
    display: grid;
    grid-template-columns: 60% 1fr;
}

.main .left {
    margin: 0 auto;
}

.main .left p {
    font-style: italic;
    font-size: 28px;
    text-align: center;
}

.left img {
    width: 100%; 
}

.login {
    background: #f1f1f1;
    font-size: 14px;
    font-family: sans-serif;
}

.login form {
    padding: 60px 30px 20px;
}

.login h1 {
    font-size: 24px;
    text-align: center;
}

form .login_field {
    margin: 10px 0px 6px;
}

.login_field input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 15px;
    border: 1px solid silver;
    border-radius: 5px;
}

.login_field label {
    display: block;
    padding: 6px 0;
}

#passErrMessage {
    padding: 10px 0 8px;
}

.signup_link, button[type="submit"] {
    margin: 10px 0;
}

button[type="submit"] {
    padding: 6px 10px;
    background-color:rgb(76, 175, 76);
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

