/* File css của trang chitiet.html */

.detail {
    max-width: 1200px;
    margin: 20px auto;
}

.detail__item {
    max-width: 900px;
    box-shadow: 0 6px 10px -6px rgb(0, 0, 0);
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 34% 66%;
    /* border: 1px solid; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.item__img-wraper {

}

.item__image {
    display: block;
    height: 440px;
    margin: 0 auto;
}

.item__info {
    /* border: 1px solid; */
    border-left: 1px solid rgb(179, 185, 190);
    padding: 20px 10px;
    width: 100%;
}

.info__title {
    font-weight: 100;
    font-size: 32px;
}

.price-show {
    margin-bottom: 10px;
}

.info__arthor {

}

.info__price-button {
    display: inline-block;
    background-color: tomato;
    padding: 10px 80px;
}

.detail__description {
    margin-top: 20px;
}
.description {
    max-width: 900px;
    margin: 0 auto;
}

.detail__comment {
    margin-top: 20px;
}

.comment {
    max-width: 900px;
    margin: 0 auto;
}

.conmment__typing {
    display: flex;
    flex-wrap: wrap;
}
input[name='Name'] {
    width: 160px;
}
input[name='comment-content'] {
    flex-grow: 1;
    margin-left: 14px;
}

input[name='Name'],
input[name='comment-content'] {
    padding: 8px 10px;
    margin-top: 14px;

}
.conment__send-btn {
    padding: 8px;
    margin-top: 10px;
    border: none;
    background-color: rgb(238, 137, 137);
    cursor: pointer;
}
.conment__send-btn:active {
    border: 1px solid;
}

.conmment-list__item {
    margin: 20px 0 20px 0;
    position: relative;
    padding: 20px 0 60px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item__comment {
    background-color: rgba(206, 204, 206, 0.329);
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
}
.comment__name {
    font-size: 16px;
    padding: 6px 10px;
}

.comment__content {
    padding: 2px 10px;
    font-size: 14px;
}

.load-more {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.342);
    background-color: rgb(223, 126, 126);
    cursor: pointer;
}