

/* Main */

.content {
   width: 100%;
   max-width: 1200px; 
   margin: 10px auto;
}
.content__slider {
    width: 100%;
    border: 1px solid;
}

/* Danh sach các loai sản phẩm */
.content__product-List {
    /* width: 1200px; */
    display: flex;
    gap: 8px
}

/* Loại bỏ scrollbar */
/* .content__product-List::-webkit-scrollbar {
    width: 0;
    display: none;
} */


.product-list__item {
    position: relative;
    flex-basis: calc(100%/7);
    font-family: var(--font-primary);
    box-shadow: 0px 3px 5px -4px #000, 4px 0px 5px -4px #000;
    /* margin-right: 10px; */
    border-radius: 4px;
}

.product-list__item img {
    width: 100%;
    border-radius: 2px;
}
.content__title {
    margin-bottom: 2px;
    border-bottom: 1px solid #cccaca;
}
.info__title {
    font-size: 18px;
}
.info__arthor {
    font-size: 14px;
}
.item__info {
    padding: 4px 4px 30px;
}
.info__price {
    background-color: rgb(75, 71, 71);
    color: aquamarine;
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 6px;
}

/* Danh mục sản phẩm */
.content__category {
    border: 1px solid;
    
}
.mySwiper .swiper-slide img{
    width: 100%;
}
/* END */

