

/* Main */

.content {
   width: 100%;
   max-width: 1200px; 
   margin: 10px auto;
}
.content__slider {
    width: 100%;
    border: 1px solid;
}

/* Danh sach các loai sản phẩm */
.content__product-List {
    /* width: 1200px; */
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

/* Loại bỏ scrollbar */
/* .content__product-List::-webkit-scrollbar {
    width: 0;
    display: none;
} */


.product-list__item {
    position: relative;
    flex-basis: calc(100%/7);
    font-family: var(--font-primary);
    box-shadow: 0px 3px 5px -4px #000, 4px 0px 5px -4px #000;
    /* margin-right: 10px; */
    border-radius: 4px;
}

.product-list__item img {
    width: 100%;
    border-radius: 2px;
}
.content__title {
    margin-bottom: 10px;
    border-bottom: 1px solid #cccaca;
}
.info__title {
    font-size: 18px;
}
.info__arthor {
    font-size: 14px;
}
.item__info {
    padding: 4px 4px 30px;
}
.info__price {
    background-color: rgb(75, 71, 71);
    color: aquamarine;
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 6px;
}

/* Danh mục sản phẩm */
.content__category {
   
}
.category__list-category {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
.list-category__item {
    border: 1px solid #000;
    flex-basis: calc(100%/6);
    padding: 8px 0px 8px 10px;
    color: #000;
}
.list-category__item:hover {
    background-image: linear-gradient( 135deg, #79F1A4 10%, #2267b1 100%);
}
.list-category__item i{
    font-size: 20px;
} 

.list-category__item p{
    font-size: 16px;
    font-family: var(--font-primary);
    margin-left: 10px;
}

:is(.list-category__item) :is(i, p) { /*.list-category__item i and .list-category__item p*/
    float: left;
    line-height: 21px;
}
/* css img thu vien swiper js */
.mySwiper .swiper-slide img{
    width: 100%;
}
/* END */

